//! **************************************************************************
// Written by: Map P.20131013 on Wed May 25 12:00:33 2022
//! **************************************************************************

SCHEMATIC START;
COMP "IR2_FPGA" LOCATE = SITE "P120" LEVEL 1;
COMP "CLK_in" LOCATE = SITE "P50" LEVEL 1;
COMP "COMMON_0" LOCATE = SITE "P44" LEVEL 1;
COMP "COMMON_1" LOCATE = SITE "P43" LEVEL 1;
COMP "COMMON_2" LOCATE = SITE "P33" LEVEL 1;
COMP "COMMON_3" LOCATE = SITE "P30" LEVEL 1;
COMP "RFID" LOCATE = SITE "P111" LEVEL 1;
COMP "IR3_FPGA" LOCATE = SITE "P119" LEVEL 1;
COMP "RST_DATA" LOCATE = SITE "P57" LEVEL 1;
COMP "RTC" LOCATE = SITE "P112" LEVEL 1;
COMP "num_car_lsb" LOCATE = SITE "P100" LEVEL 1;
COMP "A" LOCATE = SITE "P41" LEVEL 1;
COMP "num_car_msb" LOCATE = SITE "P99" LEVEL 1;
COMP "B" LOCATE = SITE "P40" LEVEL 1;
COMP "C" LOCATE = SITE "P35" LEVEL 1;
COMP "D" LOCATE = SITE "P34" LEVEL 1;
COMP "E" LOCATE = SITE "P32" LEVEL 1;
COMP "F" LOCATE = SITE "P29" LEVEL 1;
COMP "G" LOCATE = SITE "P27" LEVEL 1;
COMP "IR1_FPGA" LOCATE = SITE "P121" LEVEL 1;
COMP "SW_FPGA" LOCATE = SITE "P56" LEVEL 1;
SCHEMATIC END;

