//! **************************************************************************
// Written by: Map P.20131013 on Wed May 25 03:07:45 2022
//! **************************************************************************

SCHEMATIC START;
COMP "Z<0>" LOCATE = SITE "P82" LEVEL 1;
COMP "Z<1>" LOCATE = SITE "P81" LEVEL 1;
COMP "Z<2>" LOCATE = SITE "P80" LEVEL 1;
COMP "S0" LOCATE = SITE "P45" LEVEL 1;
COMP "Z<3>" LOCATE = SITE "P79" LEVEL 1;
COMP "D0<0>" LOCATE = SITE "P66" LEVEL 1;
COMP "D0<1>" LOCATE = SITE "P62" LEVEL 1;
COMP "D0<2>" LOCATE = SITE "P61" LEVEL 1;
COMP "D0<3>" LOCATE = SITE "P59" LEVEL 1;
COMP "D1<0>" LOCATE = SITE "P58" LEVEL 1;
COMP "D1<1>" LOCATE = SITE "P57" LEVEL 1;
COMP "D1<2>" LOCATE = SITE "P56" LEVEL 1;
COMP "D1<3>" LOCATE = SITE "P55" LEVEL 1;
SCHEMATIC END;

